{extend name="base" /}
{block name="head"}
<meta name="description" content="">
<meta name="keywords" content="">
<title>牛人排行榜</title>
{/block}
{block name="css"}
{css file="/static/css/public/pagination.css"}
{css file="/static/css/rank/rankingList.css"}
{/block}
{block name="header"}{include file="public/header" /}{/block}
{block name="main"}
<div class="am-container" id="ranking">
    <div class="am-g">
        
    </div>
    <div class="am-tabs tr-tabs" data-am-tabs="{noSwipe: 1}" id="tr-tabs">
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="javascript:;">牛人动态</a></li>
            <li><a href="javascript:;">周赛排名</a></li>
            <li><a href="javascript:;">月赛排名</a></li>
            <li><a href="javascript:;">总盈利率</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-active">
                <table class="am-table am-table-centered">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>股票名称</th>
                            <th>状态</th>
                            <th>价格(&yen;)</th>
                            <th>今日动态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="talent_dynamic.length > 0">
                            <tr v-for="item in talent_dynamic">
                                <td><a :href="'{:url("index/index/personal")}?uid=' + item.uid" :title="item.user_name">{{ item.user_name }}</a></td>
                                <td><span class="tr-shares-name">{{ item.stock }}</span></td>
                                <td><span :class="item.state_class">{{ item.state }}</span></td>
                                <td><span class="tr-color-price">{{ item.price }}</span></td>
                                <td><a :href="'{:url("index/index/personal")}?uid=' + item.uid" class="am-btn am-btn-primary am-btn-xs am-radius">追踪可看</a></td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td colspan="5"><span>暂无数据</span></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            
            <div class="am-tab-panel">
                <table class="am-table am-table-centered">
                    <thead>
                        <tr>
                            <th>排名</th>
                            <th>用户名</th>
                            <th><span class="tr-color-order">周盈利率</span></th>
                            <th>日盈利率</th>
                            <th>月盈利率</th>
                            <th>总盈利率</th>
                            <th>选股成功率</th>
                            <th>平均交易天数</th>
                            <th>周平均率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="week_rate.length > 0">
                        <tr v-for="item in week_rate">
                            <td><span :class="'tr-rank'+ item.ranking_icon">{{ item.ranking }}</span></td>
                            <td><a :href="'{:url("index/index/personal")}?uid=' + item.uid" :title="item.user_name">{{ item.user_name }}</a></td>
                            <td><span class="tr-color-order">{{ item.week_rate }}</span></td>
                            <td><span :class="item.days_rate_class">{{ item.days_rate }}</span></td>
                            <td><span :class="item.month_rate_class">{{ item.month_rate }}</span></td>
                            <td><span :class="item.total_rate_class">{{ item.total_rate }}</span></td>
                            <td><span>{{ item.success_rate }}</span></td>
                            <td><span>{{ item.avg_position_day }}</span></td>
                            <td><span :class="item.week_avg_profit_rate_class">{{ item.week_avg_profit_rate }}</span></td>
                        </tr>
                        </template>
                        <template v-else>
                        <tr><td colspan="9"><span>暂无数据</span></td></tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div class="am-tab-panel">
                <table class="am-table am-table-centered">
                    <thead>
                        <tr>
                            <th>排名</th>
                            <th>用户名</th>
                            <th>周盈利率</th>
                            <th>日盈利率</th>
                            <th><span class="tr-color-order">月盈利率</span></th>
                            <th>总盈利率</th>
                            <th>选股成功率</th>
                            <th>平均交易天数</th>
                            <th>周平均率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="month_rate.length > 0">
                        <tr v-for="item in month_rate">
                            <td><span :class="'tr-rank'+ item.ranking_icon">{{ item.ranking }}</span></td>
                            <td><a :href="'{:url("index/index/personal")}?uid=' + item.uid" :title="item.user_name">{{ item.user_name }}</a></td>
                            <td><span :class="item.week_rate_class">{{ item.week_rate }}</span></td>
                            <td><span :class="item.days_rate_class">{{ item.days_rate }}</span></td>
                            <td><span class="tr-color-order">{{ item.month_rate }}</span></td>
                            <td><span :class="item.total_rate_class">{{ item.total_rate }}</span></td>
                            <td><span>{{ item.success_rate }}</span></td>
                            <td><span>{{ item.avg_position_day }}</span></td>
                            <td><span :class="item.week_avg_profit_rate_class">{{ item.week_avg_profit_rate }}</span></td>
                        </tr>
                        </template>
                        <template v-else>
                        <tr><td colspan="9"><span>暂无数据</span></td></tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div class="am-tab-panel">
                <table class="am-table am-table-centered">
                    <thead>
                        <tr>
                            <th>排名</th>
                            <th>用户名</th>
                            <th>周盈利率</th>
                            <th>日盈利率</th>
                            <th>月盈利率</th>
                            <th><span class="tr-color-order">总盈利率</span></th>
                            <th>选股成功率</th>
                            <th>平均交易天数</th>
                            <th>周平均率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="total_rate.length > 0">
                            <tr v-for="item in total_rate">
                                <td><span :class="'tr-rank'+item.rownum_class">{{ item.rownum }}</span></td>
                                <td><a :href="'{:url("index/index/personal")}?uid=' + item.uid" :title="item.user_name">{{ item.user_name }}</a></td>
                                <td><span :class="item.week_rate_class">{{ item.week_rate }}</span></td>
                                <td><span :class="item.days_rate_class">{{ item.days_rate }}</span></td>
                                <td><span :class="item.month_rate_class">{{ item.month_rate }}</span></td>
                                <td><span class="tr-color-order">{{ item.total_rate }}</span></td>
                                <td><span class="">{{ item.success_rate }}</span></td>
                                <td><span>{{ item.avg_position_day }}</span></td>
                                <td><span :class="item.week_avg_profit_rate_class">{{ item.week_avg_profit_rate }}</span></td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td colspan="7"><span>暂无数据</span></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}{include file="public/footer" /}{/block}
{block name="js"}
{js file="/static/js/rank/rank.js"}
{/block}