{extend name="base" /}
{block name="head"}
<meta name="description" content="">
<meta name="keywords" content="">
<title>列表</title>
{/block}
{block name="css"}
{css file="/static/css/public/pagination.css"}
{css file="/static/css/rank/rankingList.css"}
{/block}
{block name="header"}{include file="public/header" /}{/block}
{block name="main"}
<div class="am-g tr-main">
    <div class="am-container">
        <div class="am-g">
            
        </div>
        <div class="am-tabs tr-tabs" data-am-tabs="{noSwipe: 1}" id="tr-tabs-1">
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="javascript:;">日盈利率排名</a></li>
                    <li><a href="javascript:;">周盈利率排名</a></li>
                    <li><a href="javascript:;">月盈利率排名</a></li>
                    <li><a href="javascript:;">总盈利率排名</a></li>
                </ul>
                
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-active">
                        <table class="am-table am-table-centered">
                            <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>用户名</th>
                                    <th>股票名称</th>
                                    <th>状态</th>
                                    <th>价格(&yen;)</th>
                                    <th>今日动态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-1th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="am-tab-panel">
                        <table class="am-table am-table-centered">
                            <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>用户名</th>
                                    <th>总盈利率</th>
                                    <th>月盈利率</th>
                                    <th>周盈利率</th>
                                    <th>选股成功率</th>
                                    <th>今日动态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-1th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="am-tab-panel">
                        <table class="am-table am-table-centered">
                            <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>用户名</th>
                                    <th>总盈利率</th>
                                    <th>月盈利率</th>
                                    <th>周盈利率</th>
                                    <th>选股成功率</th>
                                    <th>今日动态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-1th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="am-tab-panel">
                        <table class="am-table am-table-centered">
                            <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>用户名</th>
                                    <th>总盈利率</th>
                                    <th>月盈利率</th>
                                    <th>周盈利率</th>
                                    <th>选股成功率</th>
                                    <th>今日动态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-1th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
{/block}
{block name="footer"}{include file="public/footer" /}{/block}
{block name="js"}
{js file="/static/js/rank/rank.js"}
{/block}