{extend name="base" /}
{block name="head"}
<meta name="description" content="">
<meta name="keywords" content="">
<title>比赛详情</title>
{/block}
{block name="css"}
{css file="/static/css/public/pagination.css"}
{css file="/static/css/match/details.css"}
{/block}
{block name="header"}{include file="public/header" /}{/block}
{block name="main"}
<div class="am-container" id="match_details">
    <div class="am-g">
        <div class="am-u-lg-12 am-text-center tr-match-name"><h2>{{ match.name }}</h2></div>
        <input type="hidden" name="id" id="match_id" value="{$id}">
    </div>
    <table class="am-table am-table-centered tr-table-ranking">
        <thead>
            <tr>
                <th width="6%">排名</th>
                <th width="18%">用户名</th>
                <th>日盈利率</th>
                <th><span :class="match.week_class">周盈利率</span></th>
                <th><span :class="match.month_class">月盈利率</span></th>
                <th>总盈利率</th>
                <th>选股成功率</th>
                <th>周均收益率</th>
                <th>平均持股天数</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in ranking">
                <td><span :class="'tr-rank'+ item.ranking_icon">{{ item.ranking }}</span></td>
                <td class="am-text-left">
                    <div class="tr-username">
                        <a :href="'{:url("index/index/personal")}?uid=' + item.uid" :title="item.user_name"><img :src="item.portrait" onerror="javascript:this.src=img_url+'/static/img/portrait.gif'" class="am-circle tr-ranking-portrait" alt="">{{ item.user_name }}</a>
                    </div>
                </td>
                <td><span :class="item.days_rate_class">{{ item.days_rate }}</span></td>
                <td><span :class="item.week_rate_class + match.week_class">{{ item.week_rate }}</span></td>
                <td><span :class="item.month_rate_class + match.month_class">{{ item.month_rate }}</span></td>
                <td><span :class="item.total_rate_class">{{ item.total_rate }}</span></td>
                <td><span>{{ item.success_rate }}</span></td>
                <td><span :class="item.week_avg_profit_rate_class">{{ item.week_avg_profit_rate }}</span></td>
                <td><span>{{ item.avg_position_day }}</span></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="am-margin-bottom am-text-center">
        <vue-nav :cur.sync="page.p" :all.sync="page.total" v-on:btn-click="updateMatch"></vue-nav>
    </div>
</div>
{/block}
{block name="footer"}{include file="public/footer" /}{/block}
{block name="js"}
{css href="/static/css/public/pagination.css" /}
{js href="/static/js/widget/page.js" /}
{js file="/static/js/match/details.js"}
{/block}