{extend name="base" /}
{block name="head"}
<meta name="description" content="">
<meta name="keywords" content="">
<title>比赛详情</title>
{/block}
{block name="css"}
{css file="/static/css/public/pagination.css"}
{css file="/static/css/match/details.css"}
{/block}
{block name="header"}{include file="public/header" /}{/block}
{block name="main"}
<div class="am-container" id="match_details">
    <div class="am-g">
        <div class="am-u-lg-12 am-text-center tr-match-name"><h2>{{ match.name }}</h2></div>
        <input type="hidden" name="id" id="match_id" value="{$id}">
    </div>
    <table class="am-table am-table-centered tr-table-ranking">
        <thead>
            <tr>
                <th>排名</th>
                <th>用户名</th>
                <th v-if="match.type == 1"><span class="tr-color-order">周盈利率</span></th>
                <th v-else><span>周盈利率</span></th>
                <th>日盈利率</th>
                <th v-if="match.type == 2"><span class="tr-color-order">月盈利率</span></th>
                <th v-else><span>月盈利率</span></th>
                <th>总盈利率</th>
                <th>选股成功率</th>
                <th>平均交易天数</th>
                <th>周平均率</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in ranking">
                <td><span :class="'tr-rank'+ item.ranking_icon">{{ item.ranking }}</span></td>
                <td><a :href="'{:url("index/index/personal")}?uid=' + item.uid" :title="item.user_name">{{ item.user_name }}</a></td>
                <td v-if="match.type == 1"><span class="tr-color-order">{{ item.week_rate }}</span></td>
                <td v-else><span :class="item.week_rate_class">{{ item.week_rate }}</span></td>
                <td><span :class="item.days_rate_class">{{ item.days_rate }}</span></td>
                <td v-if="match.type == 2"><span class="tr-color-order">{{ item.month_rate }}</span></td>
                <td v-else><span :class="item.month_rate_class">{{ item.month_rate }}</span></td>
                <td><span :class="item.total_rate_class">{{ item.total_rate }}</span></td>
                <td><span>{{ item.success_rate }}</span></td>
                <td><span>{{ item.avg_position_day }}</span></td>
                <td><span :class="item.week_avg_profit_rate_class">{{ item.week_avg_profit_rate }}</span></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="page am-text-center">
        
    </div>
</div>
{/block}
{block name="footer"}{include file="public/footer" /}{/block}
{block name="js"}
{js file="/static/js/match/details.js"}
{/block}