{extend name="base" /}
{block name="head"}
<meta name="description" content="">
<meta name="keywords" content="">
<title>模拟炒股首页</title>
{/block}
{block name="css"}
{css file="/static/css/index/index.css"}
{/block}
{block name="header"}{include file="public/header" /}{/block}
{block name="main"}
<div class="am-g" id="index">
    <div class="am-g am-container">
        <div class="am-slider am-slider-default tr-slider-ad" data-am-flexslider="{directionNav: false,slideshowSpeed:3000}">
          <ul class="am-slides">
            <li><a href="#" title=""><img src="/static/img/bing-1.png" alt="" /></a></li>
            <li><a href="#" title=""><img src="/static/img/bing-1.png" alt="" /></a></li>
            <li><a href="#" title=""><img src="/static/img/bing-4.jpg" alt="" /></a></li>
          </ul>
        </div>   
        <div class="tr-proclamation"> 
            <div class="am-u-md-2 tr-pro-t">
                <span class="am-icon-volume-up"></span>
                <span class="tr-pro-t-c">通知公告</span>
            </div> 
            <div class="am-u-md-10">
                <dl id="ticker-1">
                    <dd v-for="item in proclamation"><a :href="item.href" :title="item.title" target="_blank">{{ item.title }}</a></dd>
                </dl>
            </div>
        </div>
        <div class="am-panel am-panel-default tr-talent">
            <div class="am-panel-hd">
                <h2 class="am-panel-title">
                    高手推荐
                </h2>
            </div>
            <div class="am-slider am-slider-default am-margin-bottom-0 am-slider-carousel tr-slider" data-am-flexslider="{itemWidth: 484, itemMargin: 30, slideshow: false, directionNav: false, controlNav: false}">
                <ul class="am-slides">
                    <li>
                        <div class="am-g tr-slider-item">
                            <div class="am-u-sm-3">
                                <a href="{:url('index/index/personal')}" title="personal">
                                    <img src="/static/img/portrait.gif" alt="portrait">
                                </a>
                            </div>
                            <div class="am-u-sm-3">
                                <div class="tr-talent-name">阿西八1</a>
                                <p>排名：258</p>
                            </div>
                            <div class="am-u-sm-6">

                                <a href="" class="am-btn am-btn-block am-btn-primary am-btn-sm am-radius" title="模拟炒股" width="50%">他的模拟炒股</a>
                                <p>周盈利率:25.24%</p>
                            </div>
                        </div>
                        <div class="am-u-md-12">
                            <h3>推荐理由</h3>
                            <p class="tr-recommend-reason">
                                选股有独特的眼光，并操作优秀,懂啊框架阿凯假两件阿赛况
                            </p>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="am-u-md-9 am-margin-top-sm">
            
            <div class="am-tabs tr-tabs" data-am-tabs="{noSwipe: 1}" id="tr-tabs">
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="javascript:;">牛人动态</a></li>
                    <li><a href="javascript:;">周赛排名</a></li>
                    <li><a href="javascript:;">月赛排名</a></li>
                    <li><a href="javascript:;">总盈利率</a></li>
                </ul>
                <div class="tr-more">
                    <a href="{:url('index/index/rankingList')}" alt="查看百强排名">查看百强排名&gt;&gt;</a>
                </div>
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-active">
                        <table class="am-table am-table-centered">
                            <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>用户名</th>
                                    <th>股票名称</th>
                                    <th>状态</th>
                                    <th>价格(&yen;)</th>
                                    <th>今日动态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-1th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-2th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-3th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">4</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">5</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-buy">买入</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">6</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-buy">买入</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">7</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">8</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">9</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">10</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-shares-name">兔宝宝(002572)</span></td>
                                    <td><span class="tr-color-sale">卖出</span></td>
                                    <td><span class="tr-price">7.52</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="am-tab-panel">
                        <table class="am-table am-table-centered">
                            <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>用户名</th>
                                    <th>总盈利率</th>
                                    <th>月盈利率</th>
                                    <th>周盈利率</th>
                                    <th>选股成功率</th>
                                    <th>今日动态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-1th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-2th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-3th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">4</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">5</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">6</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">7</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">8</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">9</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">10</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="am-tab-panel">
                        <table class="am-table am-table-centered">
                            <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>用户名</th>
                                    <th>总盈利率</th>
                                    <th>月盈利率</th>
                                    <th>周盈利率</th>
                                    <th>选股成功率</th>
                                    <th>今日动态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-1th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-2th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-3th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">4</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">5</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">6</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">7</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">8</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">9</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">10</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="am-tab-panel">
                        <table class="am-table am-table-centered">
                            <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>用户名</th>
                                    <th>总盈利率</th>
                                    <th>月盈利率</th>
                                    <th>周盈利率</th>
                                    <th>选股成功率</th>
                                    <th>今日动态</th>
                                </tr>
                            </thead>
                            <tbody>
                                {empty name="profit_ranking"}
                                    <tr>
                                        <td colspan="7"><span>暂无数据</span></td>
                                    </tr>
                                {else /}
                                    {volist name="profit_ranking" id="val"}
                                        <tr>
                                            <td><span class="tr-rank tr-icon tr-icon-1th"></span></td>
                                            <td><a href="{:url('stocks/member/personal', array('id'=>$val.uid))}" title="">{$val.username}}</a></td>
                                            <td><span class="tr-color-lose">-27.28%</span></td>
                                            <td><span class="tr-color-win">2.35%</span></td>
                                            <td><span class="tr-color-{if condition="2.35 lt 0"}lose{else /}win{/if} ">2.35%</span></td>
                                            <td><span class="">70%</span></td>
                                            <td><a href="" title="">追踪可看</a></td>
                                        </tr>
                                    {/volist}
                                {/empty}
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-2th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank tr-icon tr-icon-3th"></span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">4</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">5</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">6</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">7</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">8</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">9</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                                <tr>
                                    <td><span class="tr-rank">10</span></td>
                                    <td><a href="" title="">寻梦6188</a></td>
                                    <td><span class="tr-color-lose">-27.28%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="tr-color-win">2.35%</span></td>
                                    <td><span class="">70%</span></td>
                                    <td><a href="" title="">追踪可看</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-default tr-tab-three" style="margin-top: 20px;">
                <header class="am-panel-hd am-padding-vertical-0 am-padding-horizontal-xs">
                    <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-margin-horizontal-0">
                        <h2 class="am-titlebar-title">
                            模拟赛场
                        </h2>
                    </div>
                </header>
                <div class="am-panel-bd tr-simulation">
                    <ul class="am-list">
                        <li class="am-g first">
                            <div class="am-u-lg-5">
                                <a href="#"><img src="/static/img/bisai_img.gif" alt="第2期周赛" width="100%" /></a>
                            </div>
                            <div class="am-u-lg-7" style="padding: 0 30px;">
                                <div class="am-u-sm-12">
                                    <a href="#" title="第2期周赛" class="am-margin-right tr-simulation-name">第2期周赛</a>
                                    <span class="">比赛中</span>
                                </div>
                                <p class="am-margin-vertical-0">
                                    报名时间：2016-06-01 到 2016-06-30
                                    <br>
                                    比赛时间：2016-06-01 到 2016-06-30
                                </p>
                            </div>
                        </li>
                        <li class="am-g">
                            <div class="am-u-lg-5">
                                <a href="#"><img src="/static/img/bisai_img.gif" alt="第2期周赛" width="100%" /></a>
                            </div>
                            <div class="am-u-lg-7" style="padding: 0 30px;">
                                <div class="am-u-sm-12">
                                    <a href="#" title="第2期周赛" class="am-margin-right tr-simulation-name">第2期周赛</a>
                                    <span class="">比赛中</span>
                                </div>
                                <p class="am-margin-vertical-0">
                                    报名时间：2016-06-01 到 2016-06-30
                                    <br>
                                    比赛时间：2016-06-01 到 2016-06-30
                                </p>
                            </div>
                        </li>
                        <li class="am-g">
                            <div class="am-u-lg-5">
                                <a href="#"><img src="/static/img/bisai_img.gif" alt="第2期周赛" width="100%" /></a>
                            </div>
                            <div class="am-u-lg-7" style="padding: 0 30px;">
                                <div class="am-u-sm-12">
                                    <a href="#" title="第2期周赛" class="am-margin-right tr-simulation-name">第2期周赛</a>
                                    <span class="">比赛中</span>
                                </div>
                                <p class="am-margin-vertical-0">
                                    报名时间：2016-06-01 到 2016-06-30
                                    <br>
                                    比赛时间：2016-06-01 到 2016-06-30
                                </p>
                            </div>
                        </li>
                        <li class="am-g">
                            <div class="am-u-lg-5">
                                <a href="#"><img src="/static/img/bisai_img.gif" alt="第2期周赛" width="100%" /></a>
                            </div>
                            <div class="am-u-lg-7" style="padding: 0 30px;">
                                <div class="am-u-sm-12">
                                    <a href="#" title="第2期周赛" class="am-margin-right tr-simulation-name">第2期周赛</a>
                                    <span class="">比赛中</span>
                                </div>
                                <p class="am-margin-vertical-0">
                                    报名时间：2016-06-01 到 2016-06-30
                                    <br>
                                    比赛时间：2016-06-01 到 2016-06-30
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>           
        </div>
        <div class="am-u-md-3 tr-left-ranking am-padding-left-sm am-margin-top-sm">
            <section class="am-panel am-panel-default">
                <div class="am-panel-bd" style="padding: 3.4rem 1.25rem;">
                    <a href="#login" title="" class="am-btn am-btn-block am-btn-primary am-btn-lg am-radius am-margin-bottom-lg">登录</a>
                    <a href="#reg" title="" class="am-btn am-btn-block am-btn-primary am-btn-lg am-radius am-margin-bottom-lg">立即注册</a>
                    <a href="{:url('index/index/tradeCenter')}" title="" class="am-btn am-btn-block am-btn-warning am-btn-lg am-radius">交易中心</a>
                </div>
            </section>
            <section class="am-panel am-panel-default tr-tab-one">
                <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-margin-horizontal-0 am-padding-left-xs" >
                    <h2 class="am-titlebar-title ">
                        选股牛人
                    </h2>
                    <nav class="am-titlebar-nav">
                        <a href="#more" class="">更多&gt;&gt;</a>
                    </nav>
                </div>
                <div class="tr-ranking-table" style="padding: .75rem 0;">
                    <table class="am-table am-table-centered am-table-bordered am-table-compact am-margin-vertical-xs">
                        <tbody>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>选股成功率</td>
                                <td>75%</td>
                            </tr>
                            <tr class="tr-tab-bg-2">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>选股成功率</td>
                                <td>75%</td>
                            </tr>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>选股成功率</td>
                                <td>75%</td>
                            </tr>
                            <tr class="tr-tab-bg-2">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>选股成功率</td>
                                <td>75%</td>
                            </tr>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>选股成功率</td>
                                <td>75%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="am-panel am-panel-default tr-tab-one" style="margin: 4.9rem 0 1rem;">
                <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-margin-horizontal-0 am-padding-left-xs" >
                    <h2 class="am-titlebar-title ">
                        总收益榜
                    </h2>
                    <nav class="am-titlebar-nav">
                        <a href="#more" class="">更多&gt;&gt;</a>
                    </nav>
                </div>
                <div class="tr-ranking-table">
                    <table class="am-table am-table-centered am-table-bordered am-table-compact am-margin-vertical-xs">
                        <tbody>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>总收益率</td>
                                <td><span class="tr-color-win">75.32%</span></td>
                            </tr>
                            <tr class="tr-tab-bg-2">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>总收益率</td>
                                <td><span class="tr-color-win">75.32%</span></td>
                            </tr>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>总收益率</td>
                                <td><span class="tr-color-lose">-75.32%</span></td>
                            </tr>
                            <tr class="tr-tab-bg-2">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>总收益率</td>
                                <td><span class="tr-color-win">75.32%</span></td>
                            </tr>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>总收益率</td>
                                <td><span class="tr-color-win">75.32%</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="am-panel am-panel-default tr-tab-one">
                <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-margin-horizontal-0 am-padding-left-xs" >
                    <h2 class="am-titlebar-title ">
                        常胜牛人
                    </h2>
                    <nav class="am-titlebar-nav">
                        <a href="#more" class="">更多&gt;&gt;</a>
                    </nav>
                </div>
                <div class="tr-ranking-table">
                    <table class="am-table am-table-centered am-table-bordered am-table-compact am-margin-vertical-xs">
                        <tbody>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>周均收益</td>
                                <td><span class="tr-color-win">15.32%</span></td>
                            </tr>
                            <tr class="tr-tab-bg-2">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>周均收益</td>
                                <td><span class="tr-color-win">15.32%</span></td>
                            </tr>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>周均收益</td>
                                <td><span class="tr-color-lose">-8.2%</span></td>
                            </tr>
                            <tr class="tr-tab-bg-2">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>周均收益</td>
                                <td><span class="tr-color-lose">-8.2%</span></td>
                            </tr>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>周均收益</td>
                                <td><span class="tr-color-lose">-8.2%</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="am-panel am-panel-default tr-tab-one">
                <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-margin-horizontal-0 am-padding-left-xs" >
                    <h2 class="am-titlebar-title ">
                        人气牛人
                    </h2>
                    <nav class="am-titlebar-nav">
                        <a href="#more" class="">更多&gt;&gt;</a>
                    </nav>
                </div>
                <div class="tr-ranking-table">
                    <table class="am-table am-table-centered am-table-bordered am-table-compact am-margin-vertical-xs">
                        <tbody>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>粉丝数</td>
                                <td>133</td>
                            </tr>
                            <tr class="tr-tab-bg-2">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>粉丝数</td>
                                <td>133</td>
                            </tr>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>粉丝数</td>
                                <td>133</td>
                            </tr>
                            <tr class="tr-tab-bg-2">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>粉丝数</td>
                                <td>133</td>
                            </tr>
                            <tr class="tr-tab-bg-1">
                                <td><img src="/static/img/portrait.gif" width="18" alt=""></td>
                                <td><a href="" title="mo_2057">mo_2057**</a></td>
                                <td>粉丝数</td>
                                <td>133</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div> 
    </div>
</div>
{/block}

{block name="footer"}{include file="public/footer" /}{/block}
{block name="js"}
{js file="/static/js/widget/carouFredSel.js"}
{js file="/static/js/index/index.js"}
{/block}
