.tr-tabs{position: relative;border: 1px solid #e2e2e2; background: #fff; margin-bottom: 30px;}
.tr-tabs .tr-more{position: absolute; top: 10px; right: 10px;}
.tr-tabs .tr-more a:hover{color: gray;}
.tr-tabs .am-tabs-nav li{border-bottom: 1px solid #ddd;}
.tr-tabs .am-tabs-nav li a{font-size: 18px; margin:0; border: none; border-bottom: 1px solid #fff; color: #666;}
.tr-tabs .am-nav>li>a:focus, .tr-tabs .am-nav>li>a:hover{color: #4a9ff6; background: none;border: none;}
.tr-tabs .am-nav-tabs>li.am-active>a, .tr-tabs .am-nav-tabs>li.am-active>a:focus, .tr-tabs .am-nav-tabs>li.am-active>a:hover{color: #4a9ff6;border: none;}
.tr-tabs .am-nav-tabs>li.am-active,.tr-tabs .am-tabs-nav li:hover,.tr-tabs .am-nav-tabs>li.am-active>a,.tr-tabs .am-nav-tabs>li.am-active>a:focus, .tr-tabs .am-nav-tabs>li.am-active>a:hover,.tr-tabs .am-nav>li>a:focus, .tr-tabs .am-nav>li>a:hover{border-bottom:1px solid #4a9ff6;}
.tr-tabs .am-tabs-bd{border:none;}
.tr-tabs .am-table{margin-bottom: 0;}
.tr-tabs .am-table>thead>tr>th{border: none; background: #f5f5f5;color: #333;font-weight: normal;}
.tr-tabs .am-table>thead>tr>th .tr-color-order{color: #4a9ff6;}
.tr-tabs .am-tab-panel{padding-bottom: 19px;}
.tr-tabs .am-table>tbody>tr>td{font-size: 14px; color: #666; line-height: 2.6rem;}
.tr-tabs .am-table .tr-icon{color: #fff;}
.tr-tabs .am-table .am-btn-xs{font-size: 14px; padding: .5rem .5rem;}
.tr-tabs .am-table .tr-ranking-portrait{margin: 0 3% 0 15%;width: 30px;}
.tr-tabs .am-table .tr-username{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}