{extend name="base" /}
{block name="head"}
<meta name="description" content="">
<meta name="keywords" content="">
<title>轮播图管理</title>
{/block}
{block name="css"}
{/block}
 <div class="am-g tpl-g">
{block name="header"}{include file="public/header" /}{/block}
{block name="left"}{include file="public/left" /}{/block}
{block name="right"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">轮播图列表</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="am-u-sm-12 tpl-ad">
                            <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
                            {volist name="ads" id="vo" mod="2"}
                                <dl class="am-accordion-item{eq name="$i" value="1"} am-active{/eq}">
                                    <dt class="am-accordion-title">
                                      {$vo.id}
                                      <div class="am-fr">{if condition="$vo.enabled"}启用{else /}停用{/if}</div>
                                    </dt>
                                    <dd class="am-accordion-bd am-collapse{eq name="$i" value="1"} am-in{/eq}">
                                      <div class="am-accordion-content">
                                        <form action="{:url('advertisement/save_edit')}" class="am-form tpl-form-border-form tpl-form-border-br" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="id" value="{$vo.id}" />
                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">标题<span class="tpl-form-line-small-title"></span></label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" value="{$vo.title}" name="url" class="am-form-field tpl-form-no-bg" placeholder="请输入标题">
                                                    <small></small>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">类型<span class="tpl-form-line-small-title"></span></label>
                                                <div class="am-u-sm-9">
                                                    <select data-am-selected="{}" name="enabled">
                                                    <option value="3"{eq name="$vo.type" value="3"} selected="" {/eq}>首页banner</option>
                                                    <option value="4"{eq name="$vo.type" value="4"} selected="" {/eq}>比赛列表页banner</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">图片<span class="tpl-form-line-small-title"></span></label>
                                                <div class="am-u-sm-9">
                                                    <img src="{$img_url}{$vo.image}" alt="" class="am-img-responsive" style="max-height: 200px;">
                                                    <input type="file" name="image" /> <br> 
                                                    <small></small>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">链接地址<span class="tpl-form-line-small-title"></span></label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" value="{$vo.url}" name="url" class="am-form-field tpl-form-no-bg" placeholder="请输入链接地址">
                                                    <small></small>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">状态<span class="tpl-form-line-small-title"></span></label>
                                                <div class="am-u-sm-9">
                                                    <select data-am-selected="{}" name="enabled">
                                                    <option value="1"{eq name="$vo.enabled" value="1"} selected="" {/eq}>启用</option>
                                                    <option value="0"{eq name="$vo.enabled" value="0"} selected="" {/eq}>停用</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-9 am-u-sm-push-3">
                                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                                    <a href="{:url('delete',['id'=>$vo.id, 'type'=>5])}" class="am-btn am-btn-danger">删除</a>
                                                </div>
                                            </div>
                                        </form>
                                      </div>
                                    </dd>
                                </dl>
                                {/volist}
                          </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">添加轮播图</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body  widget-body-lg am-fr">
                    	<form action="{:url('advertisement/save_add')}" class="am-form tpl-form-border-form tpl-form-border-br" method="post" enctype="multipart/form-data">
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">标题<span class="tpl-form-line-small-title"></span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" value="" name="url" class="am-form-field tpl-form-no-bg" placeholder="请输入标题">
                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">类型<span class="tpl-form-line-small-title"></span></label>
                                <div class="am-u-sm-9">
                                    <select name="type" data-am-selected="{}">
                                    <option value="3" selected="">首页banner</option>
                                    <option value="4">比赛列表页banner</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">图片<span class="tpl-form-line-small-title"></span></label>
                                <div class="am-u-sm-9">
                                    <input type="file" name="image" /> <br> 
                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">链接地址<span class="tpl-form-line-small-title"></span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="url" class="am-form-field tpl-form-no-bg" placeholder="请输入链接地址">
                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">状态<span class="tpl-form-line-small-title"></span></label>
                                <div class="am-u-sm-9">
                                    <select name="enabled" data-am-selected="{}">
                                        <option value="1" selected="">启用</option>
                                        <option value="0">停用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
</div>
{block name="js"}
{/block}
