/* Write your styles */
body{color: #323232; font: 14px/22px "Microsoft Yahei", 微软雅黑, Simsun, 宋体, Arial;background:#f4f4f7;}
header {margin-bottom: 0 !important;}
a{color: #4a9ff6;}
table td a:hover{color:#c98004;}
p{margin: 0;}
img{max-width: 100%; height: auto;}
ul{list-style: none;}
.am-topbar-fixed-top{position: static;}
.tr-main{min-height: 600px;padding-top: 1rem;}

.am-container{padding: 0;}
.am-with-topbar-fixed-top{padding-top: 0;}
.am-titlebar-default .am-titlebar-title{color: #323232;}
.am-btn-warning{background-color: #fabd04;border-color: #fabd04; }
.am-container>.am-g,.am-g .am-g{margin: 0;}
.am-titlebar-default a{color: #1e1e1e;}
.am-g .am-container{width: 100%; margin: 0 auto;}
.am-panel.am-panel-default{border-radius: 2px;}
.am-titlebar{margin-top: 0;}

.tr-color-c9{color: #c98004;}
.tr-orange{color: orange;}
.tr-red{color: red;}
.tr-color-buy{color: gray;}/*买入*/
.tr-color-win{color: red;}/*盈*/
.tr-color-sale{color: #d8110b;}/*卖出*/
.tr-color-lose{color: green;}/*亏*/
.tr-color-price{color: #666;}/*价格*/
.tr-color-order{color: #39f;}

.tr-icon{background: url('../../img/ranking-icon.png') 0 0 no-repeat; width: 30px; height:30px; display: inline-block;background-size: 100%;vertical-align: middle;}

@media only screen and (min-width: 1025px){	
	[class*=am-u-] {
	    margin: 0;
	    padding: 0;
	}
	.am-margin-top{margin-top: 1.6rem;}
	.am-margin-top-sm{margin-top: 1rem;}
	.am-margin-top-lg{margin-top: 2.4rem;}
	.am-margin-vertical-sm{margin-top: 1rem; margin-bottom: 1rem;}
	.am-padding-sm{padding: 1rem;}
	.am-padding-right{padding-right: 1.6rem;}
	.am-padding-right-sm{padding-right: 1rem;}
	.am-padding-left{padding-left: 1.6rem;}
	.am-padding-left-sm{padding-left: 1rem;}
	.am-padding-top{padding-top: 1.6rem;}
	.am-padding-top-sm{padding-top: 1rem;}
	.am-padding-horizontal{padding-left: 1.6rem;padding-right: 1.6rem;}
	.am-padding-horizontal-sm{padding-left: 1rem;padding-right: 1rem;}
	.am-padding-vertical-sm{padding-top: 1rem;padding-bottom: 1rem;}

}

/*Header*/
header a,header{color: #fff!important;}
header .tr-login-topbar{background: #555; height: 35px; line-height: 35px;}
header .tr-login-topbar a:hover{text-decoration: underline;}
header .am-topbar-nav,header .am-topbar-right{line-height: 32px;}
.tr-login-topbar a.topbar-out{margin-left: 10px;}
.topbar-login:hover,.topbar-register:hover{color: #ef9e15;text-decoration: none;}
header .tr-menu-topbar{background: #0d7cc4; line-height: 50px;}
header .tr-header-top-nav a{font-size: 12px;}

/*footer*/
footer{background: #555; color: #fff;}
.tr-copy{line-height: 60px;}

@media only screen and (max-width: 640px){	
	header .tr-menu-topbar{background-size: initial; height: auto;}
}
@media only screen and (min-width: 641px){	
	.tr-menu-topbar .am-topbar-brand{line-height: inherit;}
	.tr-menu-nav a{font-size: 16px;}
	.tr-menu-nav .am-nav{line-height: inherit;}
	.tr-menu-nav .am-nav>li{padding: 0 1rem;}
	.tr-menu-nav .am-nav>li>a{display: inline; padding: 0 0 10px;}
	.tr-menu-nav .am-nav>li>a:focus, .tr-menu-nav .am-nav>li>a:hover{background: none; border-bottom: 2px solid #4a9ff6;}
	.tr-menu-nav .am-topbar-nav>li>a:hover:after,.tr-menu-nav .am-topbar-nav>li>a:focus:after{opacity:0;}
	.tr-menu-nav .am-topbar-nav>li.am-active>a,.tr-menu-nav .am-topbar-nav>li.am-active>a:focus,.tr-menu-nav .am-topbar-nav>li.am-active>a:hover{background: none; border-bottom: 2px solid #4a9ff6;}
	.tr-menu-nav .am-topbar-nav>li.am-active>a:after{opacity: 0;}
}
