<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
{block name="head"}Head{/block}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<!-- Amaze ui -->
<link rel="stylesheet" href="/static/css/public/amazeui.min.css" />
<link rel="stylesheet" href="/static/admin/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="/static/admin/css/app.css">

{block name="css"}CSS{/block}
</head>
<body class="theme-black">
{block name="header"}头部{/block}
{block name="left"}左边部分{/block}
{block name="right"}右边部分{/block}

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/js/public/jquery.min.js"></script>
<!--<![endif]-->
<script src="/static/js/public/amazeui.min.js"></script>
<script src="/static/admin/js/app.js"></script>

{block name="js"}Js{/block}
</body>
</html>