/* Write your styles */
body{color: #323232; font: 12px/22px "Microsoft Yahei", 微软雅黑, Simsun, 宋体, Arial;}
header {margin-bottom: 0 !important;}
a,.am-topbar a{color: #1e1e1e;}
table td a:link,table td a:visited{color:#865501;}
table td a:hover{color:#c98004;}
p{margin: 0;}
img{max-width: 100%; height: auto;}
ul{list-style: none;}
.am-topbar-fixed-top{position: static;}

.am-container{padding: 0;}
.am-with-topbar-fixed-top{padding-top: 0;}
.am-titlebar-default .am-titlebar-title{color: #323232;}
.am-btn-warning{background-color: #fabd04;border-color: #fabd04; }
.am-container>.am-g,.am-g .am-g{margin: 0;}
.am-topbar-nav>li.am-active>a, .am-topbar-nav>li.am-active>a:focus, .am-topbar-nav>li.am-active>a:hover{color: #fff; background-color: #4D7BBE;}
.am-topbar-nav>li.am-active>a:after{border-bottom-color: #fff;}
.am-titlebar-default a{color: #1e1e1e;}
.am-g .am-container{width: 100%; margin: 0 auto;}
.am-panel.am-panel-default{border-radius: 2px;}
.am-titlebar{margin-top: 0;}

.tr-color-c9{color: #c98004;}
.tr-orange{color: orange;}
.tr-red{color: red;}
.tr-color-buy{color: gray;}/*买入*/
.tr-color-win{color: #865501;}/*盈*/
.tr-color-sale{color: #d8110b;}/*卖出*/
.tr-color-lose{color: #094;}/*亏*/
.tr-color-order{color: #39f;}
.tr-tab-bg-1{background-color: #f1f6f8;}
.tr-tab-bg-2{background-color: #eef0f1;}

.tr-icon{background: url('../../img/tr-icon.png') 0 0 no-repeat; width: 15px; height:18px; display: inline-block;background-size: 100%;vertical-align: middle;}
.tr-icon-1th{background-position: 1px -4px;background-size: 100%;}
.tr-icon-2th{background-position: 1px -24px;background-size: 100%;}
.tr-icon-3th{background-position: 1px -44px;background-size: 100%;}

@media only screen and (min-width: 1025px){	
	[class*=am-u-] {
	    margin: 0;
	    padding: 0;
	}
	.am-margin-top-sm{margin-top: 1rem;}
	.am-margin-vertical-sm{margin-top: 1rem; margin-bottom: 1rem;}
	.am-padding-right{padding-right: 1.6rem;}
	.am-padding-right-sm{padding-right: 1rem;}
	.am-padding-left{padding-left: 1.6rem;}
	.am-padding-left-sm{padding-left: 1rem;}
	.am-padding-horizontal-sm{padding-left: 1rem;padding-right: 1rem;}

}

.tr-main{margin-top: 2rem;}

/*Header*/
header .tr-login-topbar{background: #eeeeee; height: 32px;}
header .tr-login-topbar a:hover{text-decoration: underline;}
header .am-topbar-nav,header .am-topbar-right{line-height: 32px;}
.tr-login-topbar a.topbar-login{color: #ba7808;}
.tr-login-topbar a.topbar-out{color: #999; margin-left: 10px;}
.topbar-login:hover,.topbar-register:hover{color: #ef9e15;text-decoration: none;}
header .tr-menu-topbar{background: url('../../img/header-menu-bg.jpg') 0 0 no-repeat; background-size: 100%; padding-top: 10px; height: 80px;}
.tr-menu-topbar .am-topbar-brand{line-height: inherit;}
.tr-menu-nav a{font-size: 16px;}
.am-topbar-nav>li>a:hover:after{opacity: 1;border-bottom-color: #fff;}
.tr-menu-nav .am-nav>li>a:focus, .tr-menu-nav .am-nav>li>a:hover{color: #fff; background-color: #4D7BBE;}


@media only screen and (max-width: 640px){	
	header .tr-menu-topbar{background-size: initial; height: auto;}
}
@media only screen and (min-width: 641px){	
	.am-collapse.am-topbar-collapse.tr-menu-nav{width: 70%;vertical-align: top; float: none; height: 70px !important; display: inline-block!important; position: relative;}
	.tr-menu-nav .tr-menu-nav-item{position: absolute; left: 0; bottom: 0;}
	.tr-menu-topbar .am-topbar-brand{width: 28%;line-height: inherit;float: none;display: inline-block;vertical-align: top;}
}


/*tab*/
.am-panel-default.tr-tab-one .am-titlebar-default{background: url('../../img/tab-title-bg1.png') 0 0 repeat-x;}
.am-panel-default.tr-tab-two .am-titlebar-default{background: url('../../img/tab-title-bg2.png') 0 0 repeat-x;}
.am-panel-default.tr-tab-three .am-panel-hd{background: url('../../img/tab-title-bg2.png') 0 0 repeat-x; border: none;}

