{extend name="base" /}
{block name="head"}
<meta name="description" content="">
<meta name="keywords" content="">
<title>交易中心</title>
{/block}
{block name="css"}
    <style type="text/css">
    .tr-buy .am-form-group{margin: .5rem 0; line-height: 28px;}
    .tr-buy .am-form-group .am-form-label{font-size: 1.4rem; text-align: right; padding-right: 1rem;}
    .tr-buy .am-form-group .am-form-field{font-size: 1.2rem; width: 66%;}
    .tr-buy .tr-stock-btn{padding: 1rem 0 0 1.6rem;}
    .tr-stock-search{position: relative;}
    .tr-stock-table{width:66%; display: none;position: absolute; top: 27px; left: 0;z-index: 99;background: #fff;}
    .tr-stock-table .am-table{border-left: 1px solid #ddd;}
    .tr-stock-table .am-table>thead>tr>th{font-weight: normal; background: #f3f3f3;padding: 1px;border-bottom: none;}
    .tr-stock-table .am-table>tbody>tr>td{padding: 1px;border:none; cursor: pointer;}
    .tr-stock-table .am-table>tbody>tr:first-child td{background-color: #f1f5fC;}
    .tr-stock-table .am-table-hover>tbody>tr:hover>td{background-color: #87cefa;}

    .tr-stock-state .am-panel-hd{height: 45px; line-height: 30px;}
    .tr-stock-state .am-panel-hd .tr-stock-name{font-size: 1.6rem;color: #000;}
    .tr-stock-state .am-panel-hd .tr-stock-price{font-size: 2.2rem;color: red;}
    .tr-stock-state .am-panel-hd .tr-stock-increase{}
    .tr-stock-state .am-panel-hd .tr-stock-increase p{height: 15px; line-height: 15px;}
    .tr-stock-state .tr-stock-entrust{border-right: 1px solid #eee;}
    .tr-stock-state .am-table{margin: 0;}
    .tr-stock-state .am-table>tbody>tr>td{border: none; padding: .2rem .7rem;}
    .tr-stock-state .am-table>tbody>tr>td.price{color: red;}
    </style>
{/block}
{block name="header"}{include file="public/header" /}{/block}
{block name="main"}
<div class="am-g tr-main">
    <div class="am-container">
        <div class="am-g">
            <div class="am-u-md-2 am-padding-right">
                {include file="trade/trade-left" /}
            </div>
            <div class="am-u-md-10 am-padding-horizontal-sm" id="tr-stock">
                <form action="#" method="post" class="am-form">
                <div class="am-u-md-6 tr-buy">
                    <div class="am-g am-form-group">
                        <label class="am-u-sm-3 am-form-label">证券代码：</label>
                        <div class="am-u-sm-9 tr-stock-search">
                            <div class="tr-stock-table">
                                <table class="am-table am-table-centered am-table-bordered am-table-hover" id="stockTable">
                                    <thead>
                                        <tr>
                                            <th>选项</th><th>类型</th><th>代码</th><th>中文名称</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-on:mousedown="updateStockInfo" v-for="item in stockList" v-bind:id="item.id">
                                            <td>{{ item.option }}</td>
                                            <td>{{ item.type }}</td>
                                            <td>{{ item.code }}</td>
                                            <td>{{ item.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <input type="text" v-on:keyup="updateStockList" placeholder="请输入股票名称/代码/拼音" onfocus="if($(this).val() != ''){$('.tr-stock-table').show()}" onblur="$('.tr-stock-table').hide()" class="am-form-field">
                        </div>
                    </div>
                    <div class="am-g am-form-group">
                        <label class="am-u-sm-3 am-form-label">证券名称：</label>
                        <div class="am-u-sm-9">
                            <span class="" id="">{{ buyInfo.stockName }}</span>
                        </div>
                    </div>
                    <div class="am-g am-form-group">
                        <label class="am-u-sm-3 am-form-label">当前价格：</label>
                        <div class="am-u-sm-9">
                            <span class="" id="">{{ buyInfo.price }}</span>
                        </div>
                    </div>
                    <div class="am-g am-form-group">
                        <label class="am-u-sm-3 am-form-label">买入价格：</label>
                        <div class="am-u-sm-9">
                            <input type="text" class="am-form-field" v-bind:value=" buyInfo.price">
                        </div>
                    </div>
                    <div class="am-g am-form-group">
                        <label class="am-u-sm-3 am-form-label">可用资金：</label>
                        <div class="am-u-sm-9">
                            <span class="" id="">{{ buyInfo.usableFunds }}</span>
                        </div>
                    </div>
                    <div class="am-g am-form-group">
                        <label class="am-u-sm-3 am-form-label">最大可买：</label>
                        <div class="am-u-sm-9">
                            <span class="" id="">{{ buyInfo.maxBuy }}</span>
                        </div>
                    </div>
                    <div class="am-g am-form-group">
                        <label class="am-u-sm-3 am-form-label">买入数量：</label>
                        <div class="am-u-sm-9">
                            <input type="text" class="am-form-field" v-bind:value="buyInfo.maxBuy">
                            <p class="">
                                <label>
                                    <input type="radio" name="p01_form_percount" value="1" checked="checked">
                                    全部可买
                                </label>
                                <label>
                                    <input type="radio" name="p01_form_percount" value="2">
                                    1/2
                                </label>
                                <label>
                                    <input type="radio" name="p01_form_percount" value="3">
                                    1/3
                                </label>
                                <label>
                                    <input type="radio" name="p01_form_percount" value="4">
                                    1/4
                                </label>
                                <label>
                                    <input type="radio" name="p01_form_percount" value="5">
                                    1/5
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="am-g am-form-group">
                        <label class="am-u-sm-3 am-form-label">购买金额：</label>
                        <div class="am-u-sm-9">
                            <span class="" id="">{{ buyInfo.useFunds }}</span>
                        </div>
                    </div>
                    <div class="am-g am-form-group tr-stock-btn">
                        <input type="button" class="am-btn am-btn-sm am-btn-success" value="下单确认">
                        <input type="reset" class="am-btn am-btn-sm am-btn-danger am-margin-left-sm" value="清空重置">
                    </div>
                </div>
                <div class="am-u-md-6 am-padding-left-sm tr-stock-state">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd am-g">
                            <div class="am-u-sm-9 tr-stock-name">
                                <span>{{ buyInfo.title }}</span>
                            </div>
                            <div class="am-u-sm-2 am-text-right am-padding-right-sm tr-stock-price ">
                                <span>{{ buyInfo.price }}</span><span class="am-icon-"></span>
                            </div>
                            <div v-bind:class="'am-u-sm-1 tr-stock-increase' + changeClass">
                                <p>{{ buyInfo.changePrice }}</p>
                                <p>{{ buyInfo.changeRate }}</p>
                            </div>
                        </div>
                        <div class="am-panel-bd am-g">
                            <div class="am-u-sm-7 am-padding-right tr-stock-entrust">
                                <table class="am-table">
                                    <tbody>
                                        <tr>
                                            <td>卖⑤(元/股)</td>
                                            <td class="price">{{ stock.sellPrice5 }}</td>
                                            <td>{{ stock.sellNum5 }}</td>
                                        </tr>
                                        <tr>
                                            <td>卖④(元/股)</td>
                                            <td class="price">{{ stock.sellPrice4 }}</td>
                                            <td>{{ stock.sellNum4 }}</td>
                                        </tr>
                                        <tr>
                                            <td>卖③(元/股)</td>
                                            <td class="price">{{ stock.sellPrice3 }}</td>
                                            <td>{{ stock.sellNum3 }}</td>
                                        </tr>
                                        <tr>
                                            <td>卖②(元/股)</td>
                                            <td class="price">{{ stock.sellPrice2 }}</td>
                                            <td>{{ stock.sellNum2 }}</td>
                                        </tr>
                                        <tr>
                                            <td>卖①(元/股)</td>
                                            <td class="price">{{ stock.sellPrice1 }}</td>
                                            <td>{{ stock.sellNum1 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <table class="am-table">
                                    <tbody>
                                        <tr>
                                            <td>买①(元/股)</td>
                                            <td class="price">{{ stock.buyPrice1 }}</td>
                                            <td>{{ stock.buyNum1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>买②(元/股)</td>
                                            <td class="price">{{ stock.buyPrice2 }}</td>
                                            <td>{{ stock.buyNum2 }}</td>
                                        </tr>
                                        <tr>
                                            <td>买③(元/股)</td>
                                            <td class="price">{{ stock.buyPrice3 }}</td>
                                            <td>{{ stock.buyNum3 }}</td>
                                        </tr>
                                        <tr>
                                            <td>买④(元/股)</td>
                                            <td class="price">{{ stock.buyPrice4 }}</td>
                                            <td>{{ stock.buyNum4 }}</td>
                                        </tr>
                                        <tr>
                                            <td>买⑤(元/股)</td>
                                            <td class="price">{{ stock.buyPrice5 }}</td>
                                            <td>{{ stock.buyNum5 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-sm-5">
                                <ul>
                                    <li><span>现&nbsp;&nbsp;&nbsp;价 : </span><span class="tr-color-win">{{ stock.price }}</span></li>
                                    <li><span>今&nbsp;&nbsp;&nbsp;开 : </span><span class="tr-color-lose">{{ stock.todayPrcie }}</span></li>
                                    <li><span>昨&nbsp;&nbsp;&nbsp;收 : </span><span>{{ stock.prec }}</span></li>
                                    <li><span>最&nbsp;&nbsp;&nbsp;高 : </span><span class="tr-color-win">{{ stock.maxPrice }}</span></li>
                                    <li><span>最&nbsp;&nbsp;&nbsp;低 : </span><span class="tr-color-lose">{{ stock.minPrice }}</span></li>
                                    <li><span>涨停价 : </span><span class="tr-color-win">{{ stock.highLimit }}</span></li>
                                    <li><span>跌停价 : </span><span class="tr-color-lose">{{ stock.lowerLimit }}</span></li>
                                    <li><span>换手率 : </span><span class="menu-right-centent-tebale3-margin">{{ stock.turnoverRate }}</span></li>
                                    <li><span>成交量 : </span><span class="menu-right-centent-tebale3-margin">{{ buyInfo.turnoverNum }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>    
    </div>   
</div>     
{/block}
{block name="footer"}{include file="public/footer" /}{/block}
{block name="js"}
    <script type="text/javascript">
        var trStock = new Vue({
            el: '#tr-stock',
            data: {
                stockList: [],
                buyInfo: {title: '----'},
                stock : {sellPrice1: '--', sellNum1: '--', sellPrice2: '--', sellNum2: '--', sellPrice3: '--', sellNum3: '--', sellPrice4: '--',sellNum4: '--', sellPrice5: '--', sellNum5: '--', buyPrice1: '--', buyNum1: '--', buyPrice2: '--', buyNum2: '--', buyPrice3: '--', buyNum3: '--', buyPrice4: '--', buyNum4: '--', buyPrice5: '--', buyNum5: '--', price: '--', todayPrcie: '--', prec: '--', maxPrice: '--', minPrice: '--', highLimit: '--', lowerLimit: '--', turnoverRate: '--', turnover: '--'},
                changeClass: ' tr-color-win'
            },
            methods: {
                updateStockList: function(e){
                    var value = e.currentTarget.value;
                    var _this = this;

                    $.getScript('http://suggest3.sinajs.cn/suggest/?type=111&key='+value+'&name=suggestdata',
                        function(){
                            if(suggestdata != ''){
                                var data = suggestdata.split(";"); 
                                var list = [];
                                for (var i = 0; i < data.length; i++) {
                                    if(data[i] == ''){
                                        continue;
                                    }
                                    var val = data[i].split(',');
                                    var type = 'A股';
                                    switch(val['1']){
                                        case '111':
                                            type = 'A股';
                                            break;
                                    }
                                    list.push({ id: data[i], option: val['0'], type: type, code: val['2'], name: val['4']});
                                }

                                _this.stockList = list;
                                $(".tr-stock-table").show();
                            } else {
                                $(".tr-stock-table").hide();
                            }
                    });    
                },
                updateStockInfo: function(e){
                    var id = e.currentTarget.id;
                    var _this = this;
                    var stock = id.split(',');
                    
                    $.ajax({
                        url: 'http://hq.sinajs.cn?list='+stock['3']+',s_'+stock['3'],
                        type: 'get',
                        dataType: 'script',
                        cache: true,
                        success: function(){
                            if(eval('hq_str_'+stock['3']) != '' || eval('hq_str_s_'+stock['3']) != ''){
                                var brief = eval('hq_str_s_'+stock['3']).split(',');
                                var detail = eval('hq_str_'+stock['3']).split(',');
                                var usableFunds = {}; //可用资金
                                var maxBuy = 10000;
                                if(brief['2'] < 0){
                                    _this.changeClass = ' tr-color-lose';
                                } else {
                                    _this.changeClass = ' tr-color-win';
                                }

                                var buyInfo = {
                                    stockName: brief['0'], 
                                    code: stock['2'], 
                                    title: brief['0']+'('+stock['2']+')',
                                    price: brief['1'], 
                                    changePrice: brief['2'], 
                                    changeRate: brief['3']+'%', 
                                    usableFunds: {}, 
                                    maxBuy: maxBuy, 
                                    useFunds: brief['1'] * maxBuy,
                                    turnoverNum:  brief['4'], 
                                    turnoverMoney:  brief['5']
                                };
                                var stockInfo = {
                                    sellPrice1: detail['20'],
                                    sellNum1: detail['21'],
                                    sellPrice2: detail['22'],
                                    sellNum2: detail['23'],
                                    sellPrice3: detail['24'],
                                    sellNum3: detail['25'],
                                    sellPrice4: detail['26'],
                                    sellNum4: detail['27'],
                                    sellPrice5: detail['28'],
                                    sellNum5: detail['29'],
                                    buyPrice1: detail['10'],
                                    buyNum1: detail['11'],
                                    buyPrice2: detail['12'],
                                    buyNum2: detail['13'],
                                    buyPrice3: detail['14'],
                                    buyNum3: detail['15'],
                                    buyPrice4: detail['16'],
                                    buyNum4: detail['17'],
                                    buyPrice5: detail['18'],
                                    buyNum5: detail['19'],
                                    price: detail['3'], 
                                    todayPrcie: detail['1'], 
                                    prec: detail['2'], 
                                    maxPrice: detail['4'], 
                                    minPrice: detail['5'],/* 
                                    highLimit: detail[''], 
                                    lowerLimit: detail[''], 
                                    turnoverRate: detail[''], 
                                    turnover: detail['']*/
                                }

                                _this.stock = stockInfo;
                                _this.buyInfo = buyInfo;
                            }
                        }    
                    });
                }
            }
        });
    </script>
{/block}