<!--左边列表-->
<div class="am-offcanvas am-text-center" id="sidebar">
    <div class="am-offcanvas-bar">
        <ul class="am-nav">
            <li><a href="{:url('index/tradeCenter')}">买入</a></li>
            <li><a href="{:url('index/sale')}">卖出</a></li>
            <li><a href="{:url('index/entrust')}">查询</a></li>
        </ul>
    </div>
</div>
<a href="#sidebar" class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button tr-left-sidebar" data-am-offcanvas><span class="am-sr-only">侧栏导航</span></a>