<header class="am-topbar am-topbar-fixed-top" id="header">
	<div class="am-g tr-menu-topbar">
		<div class="am-container">
			<h1 class="am-topbar-brand">
				<a href="http://www.sjqcj.com" title="logo"><img src="/static/img/logo1.png" alt="logo" /></a>
			</h1>
			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only am-collapsed" data-am-collapse="{target: '#tr-header-nav'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
			<div class="am-collapse am-topbar-collapse tr-menu-nav" id="tr-header-nav">
				<div class="tr-menu-nav-item">
				<ul class="am-nav am-nav-pills am-topbar-nav">
				    <li class="home{if condition="$Request.controller eq 'Index' and $Request.action eq 'index'"} am-active{/if}"><a href="/" title="模拟炒股首页">首页</a></li>
				    <li class="{if condition="$Request.controller eq 'Index' and $Request.action eq 'matchlist'"} am-active{/if}"><a href="{:url('index/index/matchList')}">模拟赛场</a></li>
				    <li class="{if condition="$Request.controller eq 'Index' and $Request.action eq 'rankinglist'"} am-active{/if}"><a href="{:url('index/index/rankingList')}">牛人排行榜</a></li>
				    <li class="{if condition="$Request.controller eq 'Index' and $Request.action eq 'tradecenter'"} am-active{/if}"><a href="{:url('index/index/tradeCenter')}">交易中心</a></li>
				    <li><a href="http://www.sjqcj.com/info/10" target="_blank">交易规则</a></li>
					<template v-if="logined">
						<li class="tr-personal"><a href="{:url('index/index/personal')}" title="个人中心">{{ user.username }}</a></li>
					</template>
				</ul>
				</div>
			</div>
		</div>
	</div>
</header>