{extend name="base" /}
{block name="head"}
<meta name="description" content="">
<meta name="keywords" content="">
<title>个人中心</title>
{/block}
{block name="css"}
{css file="/static/css/member/personal.css"}
{/block}
{block name="header"}{include file="public/header" /}{/block}
{block name="main"}
<div class="am-g" id="personal">
    <div class="am-container am-margin-top tr-personal">
        <div class="am-u-md-3 am-padding-right-sm">
            <section class="am-panel am-panel-default">
              <div class="am-panel-bd am-text-center">
                <p class="tr-portrait am-padding-horizontal-lg"><img src="/static/img/portrait.gif" class="am-img-thumbnail am-circle" />
                </p>
                <p class="am-margin-top-sm">{{ info.user_name }}</p>
                <hr data-am-widget="divider" style="" class="am-divider am-divider-dotted" />
                <p><a href="" class="am-btn am-btn-primary am-btn-xs am-radius am-margin-right">去他的微博</a><a href="{:url('stocks/trading/tradingCenter')}" class="am-btn am-btn-primary am-btn-xs am-radius">进入交易区</a></p>
              </div>
            </section>
            <section class="am-panel am-panel-default">
              <div class="am-panel-bd am-text-center">
                <table class="am-table am-margin-top am-table-bordered">
                    <tbody>
                        <tr>
                            <td>资金账号</td>
                            <td>无</td>
                        </tr>
                        <tr>
                            <td>仓位</td>
                            <td>{{ info.position }}</td>
                        </tr>
                        <tr>
                            <td>选股成功率</td>
                            <td>60%</td>
                        </tr>
                        <tr>
                            <td>操作总数</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>加入时间</td>
                            <td>{{ info.time }}</td>
                        </tr>
                        <tr>
                            <td>最后操作时间</td>
                            <td>{{ info.operationTime }}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </section>
        </div>
        <div class="am-u-md-9 am-padding-left-sm">
            <div class="am-panel-group">
                <section class="am-panel am-panel-default tr-panel-asset">
                    <div class="am-panel-hd">
                        <h2 class="am-panel-title"><span class="am-icon-money am-icon-sm am-icon"></span>资产状况</h2>
                    </div>
                    <div class="am-panel-bd am-text-center">
                        <div class="am-g tr-asset-content">
                            <div class="am-u-sm-2">总盈利率</div>
                            <div class="am-u-sm-4">总盈亏</div>
                            <div class="am-u-sm-4">浮动盈亏</div>
                            <div class="am-u-sm-2">实现盈亏</div>
                            <div class="am-u-sm-2"><span :class="info.total_rate_class">{{ info.total_rate }}</span></div>
                            <div class="am-u-sm-4"><span class="tr-color-win">35%</span></div>
                            <div class="am-u-sm-4"><span class="tr-color-win">35%</span></div>
                            <div class="am-u-sm-2"><span class="tr-color-lose">35%</span></div>
                        </div>
                        <hr class="am-margin-vertical-sm">
                        <div class="am-g tr-asset-content">
                            <div class="am-u-sm-2">总资产</div>
                            <div class="am-u-sm-4">起始资产</div>
                            <div class="am-u-sm-4">资金余额</div>
                            <div class="am-u-sm-2">股票市值</div>
                            <div class="am-u-sm-2"><span class="tr-color-price">{{ info.funds }}</span>元</div>
                            <div class="am-u-sm-4"><span class="tr-color-price">1000000</span>元</div>
                            <div class="am-u-sm-4"><span class="tr-color-price">{{ info.available_funds }}</span>元</div>
                            <div class="am-u-sm-2"><span class="tr-color-price">10</span>元</div>
                        </div>
                    </div>    
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd"><h2 class="am-panel-title"><span class="am-icon-line-chart am-icon-sm am-icon"></span>盈亏走势图</h2></div>
                    <main class="am-panel-bd">
                        <div id="main" style="height: 400px;"></div>
                    </main>
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd"><h2 class="am-panel-title"><span class="am-icon-database am-icon-sm am-icon"></span>持仓情况</h2></div>
                    <main class="am-panel-bd">
                        <table class="am-table am-margin-bottom-0 am-table-centered am-table-hover">
                            <thead>
                                <tr>
                                    <th>股票名称</th>
                                    <th>股票代码</th>
                                    <th>持仓数量</th>
                                    <th>买入价格</th>
                                    <th>成本金额</th>
                                    <th>最新资产</th>
                                    <th>盈亏比例</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in positions">
                                    <td>{{ item.stock_name }}</td>
                                    <td>{{ item.stock }}</td>
                                    <td>{{ item.available_number }}</td>
                                    <td>{{ item.cost_price }}</td>
                                    <td>{{ item.cost }}</td>
                                    <td>{{ item.assets }}</td>
                                    <td><span :class="item.ratio_class">{{ item.ratio }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </main>
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd"><h2 class="am-panel-title"><span class="am-icon-file-text am-icon-sm am-icon"></span>交易记录</h2></div>
                    <main class="am-panel-bd">
                        <table class="am-table am-margin-bottom-0 am-table-centered am-table-hover">
                            <thead>
                                <tr>
                                    <th>股票名称</th>
                                    <th>股票代码</th>
                                    <th>方式</th>
                                    <th>最新价格</th>
                                    <th>数量</th>
                                    <th>时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in entrust">
                                    <td>{{ item.stock_name }}</td>
                                    <td>{{ item.stock }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.number }}</td>
                                    <td>{{ item.time }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </main>
                </section>
                <section class="am-panel am-panel-default tr-comments">
                    <div class="am-panel-hd"><h2 class="am-panel-title"><span class="am-icon-commenting am-icon-sm am-icon"></span>留言板</h2></div>
                    <main class="am-panel-bd">
                        <ul class="am-comments-list tr-comments-list">
                          <li class="am-comment">
                            <a href="#link-to-user-home">
                              <img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96/q/80" alt="" class="am-comment-avatar" width="48" height="48">
                            </a>
                            <div class="am-comment-main">
                              <div class="am-comment-hd">
                                <div class="am-comment-meta">
                                  <a href="#link-to-user" class="am-comment-author am-margin-right">某人</a><time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                                </div>
                              </div>
                              <div class="am-comment-bd">
                                <p>《永远的蝴蝶》一文，还吸收散文特长，多采用第一人称，淡化情节，体现一种思想寄托和艺术追求。</p>
                              </div>
                            </div>
                          </li>
                          <li class="am-comment">
                            <a href="#link-to-user-home">
                              <img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96/q/80" alt="" class="am-comment-avatar" width="48" height="48">
                            </a>
                            <div class="am-comment-main">
                              <div class="am-comment-hd">
                                <div class="am-comment-meta">
                                  <a href="#link-to-user" class="am-comment-author am-margin-right">路人甲</a><time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-13 0:03</time>
                                </div>
                              </div>
                              <div class="am-comment-bd">
                                <p>感觉仿佛是自身的遭遇一样，催人泪下</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="am-form">
                            <form class="am-form" action="" method="post">
                                <fieldset>
                                    <div class="am-form-group">
                                      <textarea class="" rows="5" id="doc-ta-1"></textarea>
                                    </div>
                                    <p class="am-text-right"><button type="submit" class="am-btn am-btn-default">留言</button></p>
                                </fieldset>
                            </form>    
                        </div>
                    </main>
                </section>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="footer"}{include file="public/footer" /}{/block}
{block name="js"}
    {js href="/static/js/widget/echarts.js" /}
    <script type="text/javascript">
        var uid = {$uid};
    </script>
    {js href="/static/js/member/personal.js" /}
{/block}
