.tr-match-name h2{color: #cd3333; font-size: 2rem;}
.tr-table-ranking>tbody>tr>td{height: 42px; line-height: 42px;}
.tr-table-ranking>thead>tr>th{background:#f6f6f6; height: 28px; line-height: 28px; font-size: 1.4rem;font-weight: 400;}
.tr-table-ranking .tr-icon{color: #fff; line-height: 30px;}